*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-clr: hsl(0, 0%, 100%);
  --text-clr: hsl(0, 0%, 0%);
  --input-clr: hsl(0, 0%, 90%);
  --border-clr: hsl(0, 0%, 75%);
  --btn-clr-1: hsl(0, 100%, 50%);
  --btn-clr-2: hsl(55, 100%, 50%);
  --btn-clr-3: hsl(184, 100%, 50%);
  --task-clr: hsl(197, 91%, 45%);

  --font-size-2:    2em;
  --font-size-1-5:  1.5em;
  --font-size-1-2:  1.2em;
  --font-size-1:    1em;
  --font-size-0-8:  0.8em;
  --font-size-0-75: 0.75em;
  --font-size-0-6:  0.6em;
  --font-size-0-5:  0.5em;
  --font-size-0-4:  0.4em;
  --font-size-0-25: 0.25em;

}

html body {
  width: 100%;
  height: auto;

  font-family: sans-serif;
}


.main-container {
  width: 100%;
  position: relative;
}


.logo {
  position: absolute;
}



/** Left box */



.add-task {
  background-color: var(--background-clr);
  color: var(--text-clr);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-task > div:not(:first-child,:last-child) {
  width: 100%;
}



.name-input {
  background-color: var(--input-clr);
  border: none;
}


.name-input:focus {
  background-color: var(--input-clr);
  border: none;
  outline: none;
}

::placeholder {
  color: var(--text-clr);
  opacity: 1;
}



.urgency-header {
  font-weight: normal;
}


.urgency-button {
  border: none;
  cursor: pointer;

  transition: 200ms linear;
}


.urgency-button.high {
  background-color: var(--btn-clr-1);
}


.urgency-button.mid {
  background-color: var(--btn-clr-2);
}


.urgency-button.low {
  background-color: var(--btn-clr-3);
}



.date-input {
  background-color: var(--input-clr);
  color: var(--text-clr);
  border: none;
  outline: none;
  cursor: pointer;
}

.date-input:focus {
  border: none;
  outline: none;
}



/** Add task button */


.add-task-button { 
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 0%);
  border: none;
  cursor: pointer;

  transition: 200ms linear;
}

.add-task-button:hover { 
  background-color: var(--task-clr);
  color: var(--background-clr);
  transform: scale(1.1);
}





/** Right box */



.display-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.sort-button-container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 200ms linear;
  transform: translateY(-5px);
}
  
.sort-button:hover {
  transform: translateY(-5px);
}
  
.sort-button.active{
  transform: translateY(-5px);
}


/** Tasks */


.task-container {
  background-color: var(--task-clr);
}
.task-container::-webkit-scrollbar {
  width: 15px;
}
.task-container::-webkit-scrollbar-thumb {
  background-color: var(--background-clr);
  border-radius: 10px;
}


.task {
  border: 1px solid black;
  position: relative;
  background-color: var(--background-clr);
  color: var(--text-clr);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

}


.task-icon {
  cursor: pointer;
  position: absolute;
  color: var(--btn-clr-1);
}


.task-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.task-urgency {
  border: none;
  font-weight: normal;
}


.task-date {
  font-weight: normal;
}


.task-status-container {
  display: flex;
  flex-direction: column;
}



.task-status {
  width: min-content;
  cursor: pointer;
  background: none;

  transition: 200ms ease-in-out;
}


.task-status.active {
  background-color: var(--task-clr);
  color: var(--background-clr);
}





/**  Extra Large screens  */

@media screen and (min-width:1281px) {



  .main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100vh;
    align-items: center;
  }
  
  
  
  .title {
    font-size: var(--font-size-2);
    letter-spacing: 3px;
  }
  
  .header {
    font-size: var(--font-size-1-5);
  }
  
  
  
  /** Left box */
  
  
  
  .add-task {
    grid-column: span 2;
    height: 100%;
    border-right: 2px solid var(--border-clr);
  
    padding: 2rem;
  }
  
  .add-task > div:not(:first-child,:last-child) {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }
  
  
  /**  Title  */
  
  
  .name-header {
    text-align: center;
  }
  
  
  /**  Name  */
  
  
  .name-input {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: var(--font-size-1);
  }
  
  
  /**  Buttons  */
  
  
  .urgency-button-container {
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  
  .urgency-button {
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
    font-size: var(--font-size-1);
  }
  
  
  .urgency-button:hover {
    scale: 1.1;
  }
  
  
  /**  Date  */
  
  
  .date-input {
    font-size: var(--font-size-1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
  
  
  /** Add task button */
  
  
  .add-task-button { 
    border-radius: 30px;
    font-size: var(--font-size-1-5);
    padding: 0.5rem 3rem;
  }






  /** Right box */
  
  
  
  .display-task {
    grid-column: span 6;
    height: 100%;
  
    padding-top: 1.6rem;
    padding-bottom: 1rem;
    padding-inline: 2rem;
    gap: 1rem;
  }
  
  
  /** All task title */


  
  /** Sort buttons */
  
  
  .sort-button-container {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    gap: 6rem;
  }
  
  .sort-button {
    font-size: var(--font-size-1-2);
    padding-bottom: 1rem;
  }
  
  .sort-button:hover {
    border-bottom: 2px solid black;
  }
  
  .sort-button.active{
    border-bottom: 2px solid black;
  }
  
  
  /** Tasks */
  
  
  .task-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;

    overflow-y: scroll;
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 20px;
  }
  
  
  .task {
    border: 1px solid black;
    padding-block: 2.2rem;
    padding-inline: 0.5rem;
    border-radius: 20px;

    gap: 2rem;
  
  }
  
  
  .task-icon {
    top: 0.8rem;
    right: 0.8rem;
    font-size: var(--font-size-1);
  }
  
  
  .task-name {
    font-size: var(--font-size-1);
  }
  
  .task-urgency {
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-0-75);
  }
  
  
  .task-date {
    font-size: var(--font-size-0-75);
  }
  
  
  .task-status-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  
  .task-status-header {
    font-size: var(--font-size-0-75);
  }
  
  
  .task-status {
    border-radius: 20px;
    padding : 0.1rem 0.5rem;
    font-size: var(--font-size-0-75);
  }
  
  
  .task-status:hover {
    margin-left: 1rem;
  }
  
  
  .task-status.active {
    padding : 0.1rem 0.5rem;
  }
}



/**  Large screens  */

@media screen and (min-width:1025px) and (max-width:1280px)  {



  .main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100vh;
    align-items: center;
  }
  
  
  
  .title {
    font-size: var(--font-size-1-5);
    letter-spacing: 3px;
  }
  
  .header {
    font-size: var(--font-size-1);
  }
  
  
  
  /** Left box */
  
  
  
  .add-task {
    grid-column: span 2;
    height: 100%;
    border-right: 2px solid var(--border-clr);
  
    padding-block: 2rem;
    padding-inline: 1rem;
    
    gap: 2.5rem;
  }
  
  .add-task > div:not(:first-child,:last-child) {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  
  
  /**  Title  */
  
  
  .name-header {
    text-align: center;
  }
  
  
  /**  Name  */
  
  
  .name-input {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: var(--font-size-0-75);
  }
  
  
  /**  Buttons  */
  
  
  .urgency-button-container {
    width: 80%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  
  .urgency-button {
    border-radius: 10px;
    padding: 0.4rem 1rem;
    font-size: var(--font-size-0-75);
  }
  
  
  .urgency-button:hover {
    scale: 1.1;
  }
  
  
  /**  Date  */
  
  
  .date-input {
    font-size: var(--font-size-0-75);
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
  
  
  /** Add task button */
  
  
  .add-task-button { 
    border-radius: 30px;
    font-size: var(--font-size-1);
    padding: 0.5rem 3rem;
  }






  /** Right box */
  
  
  
  .display-task {
    grid-column: span 6;
    height: 100%;
  
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-inline: 2rem;
    gap: 1rem;
  }
  
  
  /** All task title */


  
  /** Sort buttons */
  
  
  .sort-button-container {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    gap: 6rem;
  }
  
  .sort-button {
    font-size: var(--font-size-1);
    padding-bottom: 1rem;
  }
  
  .sort-button:hover {
    border-bottom: 2px solid black;
  }
  
  .sort-button.active{
    border-bottom: 2px solid black;
  }
  
  
  /** Tasks */
  
  
  .task-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;

    overflow-y: scroll;
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 20px;
  }
  
  
  .task {
    border: 1px solid black;
    padding-block: 2rem;
    padding-inline: 0.5rem;
    border-radius: 20px;

    gap: 1rem;
  
  }
  
  
  .task-icon {
    top: 0.5rem;
    right: 0.6rem;
    font-size: var(--font-size-0-75);
  }
  
  
  .task-name {
    font-size: var(--font-size-0-75);
  }
  
  .task-urgency {
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-0-5);
  }
  
  
  .task-date {
    font-size: var(--font-size-0-5);
  }
  
  
  .task-status-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  
  .task-status-header {
    font-size: var(--font-size-0-5);
  }
  
  
  .task-status {
    border-radius: 20px;
    padding : 0.1rem 0.5rem;
    font-size: var(--font-size-0-5);
  }
  
  
  .task-status:hover {
    margin-left: 1rem;
  }
  
  
  .task-status.active {
    padding : 0.1rem 0.5rem;
  }
}




/**  Laptops  */

@media screen and (min-width:769px) and (max-width:1024px) {


  .main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100vh;
    align-items: center;
  }
  
  
  
  .title {
    font-size: var(--font-size-1-2);
    letter-spacing: 3px;
  }
  
  .header {
    font-size: var(--font-size-0-75);
  }
  
  
  
  /** Left box */
  
  
  
  .add-task {
    grid-column: span 2;
    height: 100%;
    border-right: 2px solid var(--border-clr);
  
    padding-block: 3rem;
    padding-inline: 1rem;
  }
  
  .add-task > div:not(:first-child,:last-child) {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  
  
  /**  Title  */
  
  
  .name-header {
    text-align: center;
  }
  
  
  /**  Name  */
  
  
  .name-input {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: var(--font-size-0-5);
  }
  
  
  /**  Buttons  */
  
  
  .urgency-button-container {
    width: 80%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
  
  
  .urgency-button {
    border-radius: 10px;
    padding: 0.25rem 0.75rem;
    font-size: var(--font-size-0-5);
  }
  
  
  .urgency-button:hover {
    scale: 1.1;
  }
  
  
  /**  Date  */
  
  
  .date-input {
    font-size: var(--font-size-0-5);
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
  
  
  /** Add task button */
  
  
  .add-task-button { 
    border-radius: 30px;
    font-size: var(--font-size-0-8);
    padding: 0.5rem 3rem;
  }






  /** Right box */
  
  
  
  .display-task {
    grid-column: span 6;
    height: 100%;
  
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    gap: 1rem;
  }
  
  
  /** All task title */


  
  /** Sort buttons */
  
  
  .sort-button-container {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    gap: 3rem;
  }
  
  .sort-button {
    font-size: var(--font-size-1);
    padding-bottom: 0.5rem;
  }
  
  .sort-button:hover {
    border-bottom: 2px solid black;
  }
  
  .sort-button.active{
    border-bottom: 2px solid black;
  }
  
  
  /** Tasks */
  
  
  .task-container {
    width: 100%;
    height: 100%;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;

    overflow-y: scroll;
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 20px;
  }
  .task-container::-webkit-scrollbar {
    width: 10px;
  }
  
  
  .task {
    border: 1px solid black;
    padding-block: 2rem;
    padding-inline: 0.5rem;
    border-radius: 20px;

    gap: 1rem;
  
  }
  
  
  .task-icon {
    top: 0.5rem;
    right: 0.6rem;
    font-size: var(--font-size-0-75);
  }
  
  
  .task-name {
    font-size: var(--font-size-0-75);
  }
  
  
  .task-urgency {
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-0-5);
  }
  
  
  .task-date {
    font-size: var(--font-size-0-5);
  }
  
  
  .task-status-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  
  .task-status-header {
    font-size: var(--font-size-0-5);
  }
  
  
  .task-status {
    border-radius: 20px;
    padding : 0.1rem 0.5rem;
    font-size: var(--font-size-0-5);
  }
  
  
  .task-status:hover {
    margin-left: 1rem;
  }
  
  
  .task-status.active {
    padding : 0.1rem 0.5rem;
  }

}




/**  Tablets  */

@media screen and (min-width:425px) and (max-width:769px) {


  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  
  
  .title {
    font-size: var(--font-size-2);
    letter-spacing: 3px;
  }
  
  .header {
    font-size: var(--font-size-1-5);
  }
  
  
  
  /** Left box */
  
  
  
  .add-task {
    width: 80%;
    margin-top: 2rem;
    border: 2px solid var(--border-clr);
    border-radius: 14px;
  
    padding-block: 3rem;
    padding-inline: 1rem;

    gap: 4rem;
  }
  
  .add-task > div:not(:first-child,:last-child) {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  
  
  /**  Title  */
  
  
  .name-header {
    text-align: center;
  }
  
  
  /**  Name  */
  
  
  .name-input {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: var(--font-size-1);
  }
  
  
  /**  Buttons  */
  
  
  .urgency-button-container {
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .urgency-button {
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-size: var(--font-size-1);
  }
  
  
  .urgency-button:hover {
    scale: 1.1;
  }
  
  
  /**  Date  */
  
  
  .date-input {
    font-size: var(--font-size-1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
  
  
  /** Add task button */
  
  
  .add-task-button { 
    border-radius: 30px;
    font-size: var(--font-size-1-5);
    padding: 0.8rem 3rem;
  }






  /** Right box */
  
  
  
  .display-task {
    width: 100%;
  
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    gap: 1rem;
  }
  
  
  /** All task title */


  
  /** Sort buttons */
  
  
  .sort-button-container {
    margin-block: 1.5rem;
    gap: 2rem;
  }
  
  .sort-button {
    font-size: var(--font-size-0-8);
    padding-bottom: 0.5rem;
  }
  
  .sort-button:hover {
    border-bottom: 2px solid black;
  }
  
  .sort-button.active{
    border-bottom: 2px solid black;
  }
  
  
  /** Tasks */
  
  
  .task-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 2rem;

    overflow-y: scroll;
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 20px;
  }
  
  
  .task {
    border: 1px solid black;
    padding-block: 2.5rem;
    padding-inline: 0.8rem;
    border-radius: 14px;

    gap: 2rem;
  
  }
  
  
  .task-icon {
    top: 0.8rem;
    right: 0.8rem;
    font-size: var(--font-size-1);
  }
  
  
  .task-name {
    font-size: var(--font-size-1);
  }
  
  
  .task-urgency {
    border-radius: 10px;
    padding: 0.25rem 1.5rem;
    font-size: var(--font-size-0-8);
  }
  
  
  .task-date {
    font-size: var(--font-size-0-8);
  }
  
  
  .task-status-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  
  .task-status-header {
    font-size: var(--font-size-0-8);
  }
  
  
  .task-status {
    border-radius: 20px;
    padding : 0.1rem 0.5rem;
    font-size: var(--font-size-0-8);
  }
  
  
  .task-status:hover {
    margin-left: 1rem;
  }
  
  
  .task-status.active {
    padding : 0.1rem 0.5rem;
  }

}




/**  Mobile  */

@media screen and (max-width:425px) {


  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  
  
  .title {
    font-size: var(--font-size-1-5);
    letter-spacing: 3px;
  }
  
  .header {
    font-size: var(--font-size-1-2);
  }
  
  
  
  /** Left box */
  
  
  
  .add-task {
    width: 80%;
    margin-top: 2rem;
    border: 2px solid var(--border-clr);
    border-radius: 14px;
  
    padding-block: 3rem;
    padding-inline: 1rem;

    gap: 2.5rem;
  }
  
  .add-task > div:not(:first-child,:last-child) {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  
  
  /**  Title  */
  
  
  .name-header {
    text-align: center;
  }
  
  
  /**  Name  */
  
  
  .name-input {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: var(--font-size-0-8);
  }
  
  
  /**  Buttons  */
  
  
  .urgency-button-container {
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .urgency-button {
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
    font-size: var(--font-size-0-8);
  }
  
  
  .urgency-button:hover {
    scale: 1.1;
  }
  
  
  /**  Date  */
  
  
  .date-input {
    font-size: var(--font-size-0-8);
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
  
  
  /** Add task button */
  
  
  .add-task-button { 
    border-radius: 30px;
    font-size: var(--font-size-1-2);
    padding: 0.75rem 3rem;
  }






  /** Right box */
  
  
  
  .display-task {
    width: 100%;
  
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    gap: 1rem;
  }
  
  
  /** All task title */


  
  /** Sort buttons */
  
  
  .sort-button-container {
    margin-block: 1.5rem;
    gap: 1rem;
  }
  
  .sort-button {
    font-size: var(--font-size-0-8);
    padding-bottom: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sort-button:hover {
    border-bottom: 2px solid black;
  }
  
  .sort-button.active{
    border-bottom: 2px solid black;
  }
  
  
  /** Tasks */
  
  
  .task-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    overflow-y: scroll;
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 20px;
  }
  
  
  .task {
    border: 1px solid black;
    padding-block: 2.8rem;
    padding-inline: 1rem;
    border-radius: 14px;

    gap: 3rem;
  
  }
  
  
  .task-icon {
    top: 0.8rem;
    right: 0.8rem;
    font-size: var(--font-size-1-2);
  }
  
  
  .task-name {
    font-size: var(--font-size-1-2);
  }
  
  
  .task-urgency {
    border-radius: 10px;
    padding: 0.25rem 1.5rem;
    font-size: var(--font-size-1);
  }
  
  
  .task-date {
    font-size: var(--font-size-1);
  }
  
  
  .task-status-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  .task-status-header {
    font-size: var(--font-size-1);
  }
  
  
  .task-status {
    border-radius: 20px;
    padding : 0.1rem 0.5rem;
    font-size: var(--font-size-1);
  }
  
  
  .task-status:hover {
    margin-left: 1rem;
  }
  
  
  .task-status.active {
    padding : 0.1rem 0.5rem;
  }

}

